.feedback{
    margin: 200px 0;
}
.feedback__box{
    width: 100%;
    padding: 50px;
    height: 600px;
    border-radius: 20px 0 20px 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-image: url(../img/Form/bg_form.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}
.map__box{
    height: 500px;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px 20px 0 20px;
    position: absolute;
    right: -10%;
    z-index: 2;
}
.input__box{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.input__box p{ 
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;

}
.form__title{
    color: #ffffff;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
.form__sup__title{
    font-size: 16px;
    margin: 40px 0;
    color: rgba(255, 255, 255, 0.5);
    
}
.input__flex{
    height: 100%;
}
.input__name{
    padding: 20px;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 10px 0 10px 10px;
}

.input__email{
    padding: 20px;
    font-size: 16px;
    border-radius: 10px 0 10px 10px;
    margin-bottom: 40px;
}
.textarea__flex{
    margin-left: 50px;
}
.textarea{
    resize: none;
    border-radius: 10px 0 10px 10px;
    padding: 20px;
    font-size: 16px;
    width: 330px;
    height: 185px;
}
.btn--submit{
    
    margin-top: 20px;
   position: relative;
   left: 80%;
   border-radius: 10px 0 10px 10px;
   background-color: #2FC9EF;
   color: #ffffff;
   
}
.btn--submit:hover{
    background-color: #ffffff;
    color: #2FC9EF;
    border-radius: 10px;
}

@media (min-width: 2200px){
    .feedback__box{
        height: 800px;
        padding: 100px;
    }
    .map__box{
        height: 600px;
        width: 500px;
    }
    
   
    .input__box p{
        font-size: 22px;
    }
    .form__title{
        font-size: 44px;
    }
    .form__sup__title{
        font-size: 22px;
    }
    .input__name{
        padding: 20px;
        font-size: 22px;
        
    }
    
    .input__email{
        padding: 20px;
        font-size: 22px;
    }
    .textarea__flex{
        margin-left: 50px;
    }
    .textarea{
        padding: 20px;
        font-size: 22px;
        width: 500px;
        height: 200px;
        margin-bottom: 50px;
    }
    
}
@media (max-width: 1300px){
    .map__box{
        width: 300px;
        height: 200px;
        right: 0;
        top: 0;
    }
    .feedback__box{
        border-radius: 20px 20px 0 20px;
    }
}
@media (max-width: 768px){
    .feedback__box{
        width: 100%;
        padding: 50px;
        height: 850px;
        display: flex;
        flex-direction: row;
        
    }
    .map__box{
        right: 20px;
        top: 275px;
    }
    .input__box{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
        
    }
   
    .input__flex{
        height: 100%;
    }
    .input__name{
        margin-bottom: 40px;
    }
    
    .textarea__flex{
        margin-left: 0px;
    }
    .textarea{
        font-size: 16px;
        width: 100%;
        height: 185px;
    }
    .btn--submit{
       left: 0%;

    }
}
@media (max-width: 700px){
    .map__box{
        display: none;
    }
    .form__box{

        margin: 0 auto;
    }
    .input__name{
        font-size: 14px;
        width: 100%;
        padding: 16px;
    }
    .input__email{
        font-size: 14px;
        width: 100%;
        padding: 16px;
    }
    .form__title{
        text-align: center;
        font-size: 26px; 
    }
    .form__sup__title{
        font-size: 14px;
    }
    .feedback{
        margin-left: 15px;
        margin-right: 15px;
    }
    

    .input__box p{
        font-size: 18px;
    }
    
    .textarea{
        padding: 16px;
        font-size: 14px;
        height: 150px;
        margin-bottom: 0px;
    }
}



