.header{
    height: 100px;
    padding: 20px 0;
    top: 0;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s linear 3.8s;
}

.img__logo{
    width: 75px;
    border-radius: 50%;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.nav__link__text{
    position: relative;
    margin: 0 20px  ;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s linear;
}
.nav__link__text::after{
    content: '';
    transition: 0.2s linear;
    width: 0;
    height: 3px;
    background-color: #2FC9EF;
    position: absolute;
    top: 120%;
    right: 0;
    
}
.nav__link__text:hover::after{
    width: 100%;
    left: 0;
}
.input__search{
    position: relative;
    left: 0;
    opacity: 0;
    border-radius:10px 20px 20px 10px;
    width: 0;
    padding: 6px 30px;
    cursor: default;
    transition: width 1s linear;
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    font-size: 14px;
}
.search__img{
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    padding: 0 5px;
}
.search__img:hover{
    cursor: pointer;
}
.nav__icon{
    display: none;
}
@media (min-width: 2200px){
    .header{
        height: 150px;
    }
    
    .img__logo{
        width: 110px;
    }
    .nav__link__text{
        font-size: 24px;
    }
    .input__search{
        font-size: 18px;
    }
    .search__img{
        width: 35px;
    }
}
@media (max-width: 960px){
    .input__search{
        display: none;
    }
    .search__img{
        display: none;
    }
}
@media (max-width: 700px){
    .nav__icon{
        display: block;
    }
    .nav__items{
        display: none;
    }
   .nav{
       display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
       border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   }
    .nav__icon img{
        width: 40px;
        margin: 0 15px;
    }
    .img__logo{
        display: none;
    }
    @keyframes bounce {
        0%, 20%, 60%, 100% {
            transform: translateY(0);
            transform: translateY(0);
        }
    
        40% {
            transform: translateY(-20px);
            transform: translateY(-20px);
        }
    
        80% {
            transform: translateY(-10px);
            transform: translateY(-10px);
        }
    }
    .nav__icon:hover{
        animation: bounce 1s;
    }

}
