.intro{
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s linear 4s;
}
.intro__text{
    max-width: 40%;
}
.intro__title{
    color: #ffffff;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}
.intro__title__sup__text{
    color: #ffffff;
    margin: 50px 0;
    line-height: 30px;
    font-size: 18px;
}
.btn{
    padding: 20px 25px 20px 25px;
    background-color: #ffffff;
    border-radius: 16px 0 16px 16px;
    font-weight: 500;
    font-size: 18px;
    color: #263238;
    border: 1px solid transparent;
    transition: 0.2s linear;
}
.btn--learn__more span{
    font-family: 'Poppins', sans-serif;
    /* padding: 18px 0; */
    margin-left: 20px;
    font-size: 25px;
    color: #2FC9EF;
    font-weight: 700;
    transition: 0.2s linear;
}
.btn--learn__more:hover{
    border-radius: 16px;
    border: 1px solid #ffffff;
    background-color: rgba(28,104,224, 0.7);
    color: #ffffff;
}
.btn--learn__more:hover span{
    color: #263238;
}