.intro{
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s linear 3.8s;
}
.intro__text{
   text-align: left;
    padding: 0 20px;
}
.btn__box{
    display: flex;
    justify-content: left;
}
.intro__title{
    color: #ffffff;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
}
.intro__title__sup__text{
    color: #ffffff;
    margin: 50px 0;
    line-height: 1.8;
    font-size: 18px;
}
.btn{
    padding: 20px 25px 20px 25px;
    background-color: #ffffff;
    border-radius: 16px 0 16px 16px;
    font-weight: 500;
    font-size: 18px;
    color: #263238;
    border: 1px solid transparent;
    transition: 0.2s linear;
}
.btn--learn__more span{
    font-family: 'Poppins', sans-serif;
    /* padding: 18px 0; */
    margin-left: 20px;
    font-size: 25px;
    color: #2FC9EF;
    font-weight: 700;
    transition: 0.2s linear;
}
.btn--learn__more:hover{
    border-radius: 16px;
    border: 1px solid #ffffff;
    background-color: rgba(28,104,224, 0.7);
    color: #ffffff;
}
.btn--learn__more:hover span{
    color: #263238;
}

@media (min-width: 2200px){
    .intro__title{
        margin-top: 150px;
        font-size: 55px;
    }
    .intro__title__sup__text{
        
        font-size: 24px;
        margin-bottom: 100px;
    }
    .btn{
        padding: 25px 30px 25px 30px;
        font-size: 24px;
        
    }
}
@media (max-width: 1300px){
        .intro{
            height: 1000px;
        }    
        .intro__text{
            max-width: 100%;
            text-align: right;
            margin: 0 auto;
        }
        .intro__title__sup__text{
            max-width: 100%;
            text-align: right;
        }
        
}