@import url('header.css');
@import url('intro.css');
@import url('experts.css');
@import url('reviews.css');
@import url('feedback.css');
@import url('footer.css');
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
    font-family: 'Inter', sans-serif;
    background-image: url(../img/experts/bg_experts1.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.bg{
   position: absolute; 
   object-fit: cover;
}
.moon{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 50%;
    opacity: 0.6;
    left: 5%;
    top: 10%;
    transform: translateY(-250%);
    transition: transform 1.4s linear 2s;
    position: absolute;
}
.left{
    max-width: 100%;
    left: 0;
    height: 100%;
    max-height: 75%;
    top: 10%;
    transform: translateX(-200%);  
    transition: transform 1s linear 2s;
}
.full{
    width: 100%;
    top: 0;
    transform: translateY(-200%);
    transition: transform 2s linear;
}
.up{
    width: 100%;
    max-width: 60%;
    max-height: 50px;
    top: 0;
    right: 0;
    transform: translateY(-200%);
    transition: transform 1s linear 1.5s;
    object-fit: cover;
}
.house{
    right: 0;
    top: 0;
    opacity: 0.4;
    max-height: 90%;
    max-width: 100%;
    transform: translateX(150%);
    transition: transform 1.2s linear 2.5s;
    object-fit: contain;
}

.container{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 2200px){
    .container{
        max-width: 1450px;
        width: 100%;
    }
    .house{
        top: 10%;
        width: 50%; 
    }
    .moon{
        width: 200px;
        height: 200px;
        left: 10%;
    }
}
@media (max-width: 1300px){
    .container{
        max-width: 960px;
        width: 100%;
        
    }
    .house{
        width: 650px;
        margin-top: 200px;
    }
    .moon{
        max-width: 100px;
        max-height: 100px;
        left: 5%;
        top: 10%;
       
    }
    .bg{
       height: 100vh; 
     }
     .up{
         max-height: 35px;
     }
     body{
        background-image: none;
        background-color: #F5F6F7;
    }
    
}
@media (max-width: 960px){
    .house{
        width: 500px;
    }
    body{
        background-image: none;
        background-color: #F5F6F7;
    }
    
}
@media (max-width: 600px){
    .moon{
        width: 75px;
        height: 75px;
        left: 8%;
    }
    .left{
        max-width: 100%;
        left: -15%;
        max-height: 100%;
        top: 0%;
    }
    .up{
        max-height: 30px;   
    }
    .house{
        right: -10%;
    }
    
}
