@import url('header.css');
@import url('intro.css');

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.bg{
   position: absolute; 
   object-fit: cover;
}
.moon{
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 50%;
    opacity: 0.6;
    left: 5%;
    top: 10%;
    transform: translateY(-250%);
    transition: transform 1.4s linear 2s;
}
.left{
    max-width: 100%;
    left: 0;
    height: 100%;
    max-height: 75%;
    top: 10%;
    transform: translateX(-200%);  
    transition: transform 1s linear 2s;
}
.full{
    width: 100%;
    top: 0;
    transform: translateY(-200%);
    transition: transform 2s linear;
}
.up{
    width: 100%;
    max-width: 60%;
    top: 0;
    right: 0;
    transform: translateY(-200%);
    transition: transform 1s linear 1.5s;
}
.house{
    right: 5%;
    top: 0;
    opacity: 0.4;
    max-height: 90%;
    max-width: 100%;
    transform: translateX(150%);
    transition: all 1.2s linear 2.5s;
}


